<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4di6tdpQcsMLJlmLFxQf3BBRsTkBRSU0</string>
	<key>GCM_SENDER_ID</key>
	<string>827405616145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swaven.verifyapp</string>
	<key>PROJECT_ID</key>
	<string>the-verify-3ad1c</string>
	<key>STORAGE_BUCKET</key>
	<string>the-verify-3ad1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827405616145:ios:19402725c9687e46881db0</string>
</dict>
</plist>